@charset "utf-8";
/* CSS Document */

    
    body,html {
	font-family: tahoma;
    height: 200px;
}

h1 {
	font-size: 60px;
}

.content {
  font: corbel;
  font-size: 24px;
  padding-left: 20%; /* padding, spacing from the left side of the screen*/
  padding-right: 20%; /* padding, spacing from the right side of the screen*/
  color: darkblue; /* font colour */
}

.content2 {
  font: corbel;
  padding-left: 20%; /* padding, spacing from the left side of the screen*/
  padding-right: 20%; /* padding, spacing from the right side of the screen*/
  color: white; /* font colour */
}

.logo {
	width: 100px; /* width of logo image */
	height:	80px; /* height of logo image */
	float: left; /* left alignment */
}

ul {
    list-style-type:none;
	margin:	-10px;
	padding: 10px 25px; /* height of nav bar, width between edge and logo */
    background-color: dodgerblue; /* colour of nav bar */
    font-size: 30px;
	color: darkblue;
	position: fixed;
	width: 100%;
}

li {
    display: inline-block;
}

li a.active {
	background-color: none; /* colour of active page button */
	color: white; /* colour of text of active page */
}

li a, .dropbtn {
    display:inline-block;
    color: darkblue;
    text-align: center;
    padding: 20px 60px; /* width between border of nav bar, width between words */
    text-decoration: none;
    font-size: 30px; /* font size of words in the nav bar */
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #95dcfc; /* colour of hover on nav bar */
}

.dropdown {
    display: inline-block;
	position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkblue; /* colour of dropdown */
    width: 160px;
    box-shadow: 5px 10px 10px dodgerblue; /* colour of shadow behind the dropdown */
}

.dropdown-content a {
    color: white; /* colour of text in dropdown */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* Text in dropdown will be aligned to the left */
	width: 128px;
}

.dropdown-content a:hover {
	background-color: rgb(140, 185, 220); /* Colour of hover on dropdown */
}

.dropdown:hover .dropdown-content {
    display:block;
}


.sticky {
  position: fixed; /* The sticky class will be in a fixed position on the page */
  top: 0;
  width: 100%;
  z-index: 1;
}

.flip-card {
  background-color: transparent;
  width: 450px; /* set width of the back of the card */
  height: 300px;/* set height of the back of the card */
  perspective: 1000px;
  padding: inherit;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 black; /* colour of card shadow */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* to rotate the card around, 180 degrees (instead of a full turn) */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: white; /* set colour of the back of the card */
  color: darkblue; /* set font colour of the back of the card */
  transform: rotateY(180deg); /* to rotate the card back to original position */
}

.btn {
  background-color: dodgerblue; /* colour of button */
  border: red;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}

a {
  text-decoration: none;
}

section {
	background-color: darkblue; /* colour of section */
	height: 375px; /* set height of section */
	padding: 25px; 
	padding-left: 100px; 
	padding-right: 100px;
	color: white;
}

.column {
  float: left; /* Float columns on the left */
  width: 450px; /* Width of columns */
  padding: 10px; /* Padding of coloumns */
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.collapsible {
  background-color: darkblue;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
}

.active1, .collapsible:hover {
  background-color: dodgerblue;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2212";
}

.content1 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  padding-left: 20%; /* padding, spacing from the left side of the screen*/
  padding-right: 20%; /* padding, spacing from the right side of the screen*/
  color: darkblue; /* font colour */
  font-size: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 grey;
  transition: 0.3s;
  width: 450px;
  background-color: white;
  color: darkblue;
  padding-left: 20%;
  padding-right: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.container {
  padding: 2px 16px;
}

.column1 {
  float: left; /* Float columns on the left */
  width: 26%; /* Width of columns */
  padding: 0 45px; /* Padding of coloumns */
}

.section1 {
 background-color: darkblue; /* colour of section */
 height: 1000px; /* set height of section */
 color: white;
 width: 100%;
}

.img-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.img-wrapper div {
  grid-column: 1;
  grid-row: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray);
  transition: opacity 0.7s;
}

#footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 5px 10px; /* width */
  transition: 0.4s;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
}

#footer a {
  float: left;
  color: darkblue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

#footer #logo {
  font-weight: none;
  transition: 0.4s;
}

@media screen and (max-width: 580px) {
  #footer {
    padding: 20px 10px !important;
  }
  #footer a {
    float: none;
    display: block;
    text-align: center;
  }
}

.quote {
    font-size: 30px;
	color: white;
    padding-left: 15%; /* padding, spacing from the left side of the screen*/
    padding-right: 15%; /* padding, spacing from the right side of the screen*/
}

.section2 {
	background-color: darkblue; /* colour of section */
	height: 200px; /* set height of section */
	padding-top: 80px;
}

.section3 {
	background-color: darkblue; /* colour of section */
	height: 1000px; /* set height of section */
	padding-top: 80px;
	padding-left: 250px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #95dcfc;
  color: darkblue;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
  width: 40px;
}

#myBtn:hover {
  background-color: dodgerblue;
}
